.aboutTitle{
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
    color: navy;
}
.aboutTitle:hover {
  text-shadow: 1px 1px 2px orangered;
  cursor: pointer;

}


.bio {
  
  }
  .bioTitle{
    
  }
  .aboutPage{
    background-color:rgb(241, 241, 241);
   
  }

  .testimonalsTitle{
    border-radius: 2px 4px 2px;
    color: navy;
  }

  [type=radio] {
    display: none;
  }
  
  #slider {
    height: 30vw;
    width: 40vw;
    margin: 0 auto;
    left: -10%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  
  #slider label {
    margin: auto;
    background-color: aliceblue;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-50%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(50%,0,-100px);
  }