@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
*{
  margin: 0;
  bottom: 0;
}
.App {
  text-align: center;
}
.buttonStyle{
  text-decoration: none;
}
.navbar {
  font-family: 'Italiana', serif;
  font-weight: bold;
  color: black;

}

.navbar:hover {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.home {

}

.homepage {
  font-family: 'Abril Fatface', cursive;
  margin-top: 25%;
  display: flex;
  margin-left: 10%;
}

.hometitle {
  font-size: 85px;
  padding-left: 25px;
  margin-left: 20%;
  color: navy;
}

.hometitle:hover {
  text-shadow: 1px 1px 2px red;
  cursor: pointer;

}

.homeimage {
  border-radius: 60%;
  height: 200px;
}


.contacttitle {
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
}


.title {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
  color: #464343 !important;

}

