@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.App {
  text-align: center;
}

.navbar {
  font-family: 'Kings', cursive;
}

.home{
 
}

.homepage {
  font-family: 'Abril Fatface', cursive;
  margin-top: 25%;
  display: flex;
  margin-left: 10%;
}

.hometitle {
  font-size: 85px;
  padding-left: 25px;
  margin-left: 20%;
}

.hometitle:hover {
  text-shadow:  1px 1px 2px red;
  cursor: pointer;
  
}

.homeimage {
  border-radius: 60%;
  height: 200px;
}

.container {
  margin-top: 75px;
  border: 3px solid black;
}